# TERRAFORM
alias tf='terraform'
alias tfv='terrform validate'
alias tfi='terraform init'
alias tfifc='terraform init -force-copy'
alias tfp='terraform plan'
alias tfa='terraform apply'
alias tfaa='terraform apply -auto-approve'
alias tfs='terraform show'
alias tfd='terraform destroy'
alias tfda='terraform destroy -auto-approve'
alias tfc='terraform console'
alias tfo='terraform output'

# KUBERNETES
alias k='kubectl'
alias kaf='kubectl apply -f'
alias kdelf='kubectl delete -f'

# GIT
alias gi='git init'
alias gs='git status'
alias ga='git add -A'
alias gr='git rm'
alias gb='git branch'
alias gc='git commit -m'
alias gp='git push'
alias gpom='git push origin main'
alias gpl='git pull'
alias gplom='git pull origin main'
alias gd='git diff'
alias gl='git log'
alias gt='git tag'
alias gta='git tag -a'
alias gpt='git push --tag'
alias gco='git checkout'
alias ge='git commit --allow-empty -m "This is an empty commit. Likely to trigger a CI/CD pipeline that is stalled."'
alias gpb='git push --set-upstream origin $(git_current_branch)'
